﻿@model TestAppCore.Models.Order
@{
    ViewData["Title"] = "OrderNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success alert-dismissible fixed-top w-50 mx-auto d-none" role="alert">
    <strong>Ordine Completato!</strong> Grazie @Model.Name @Model.Surname per aver ordinato @Model.Pizza !
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@section Scripts{ 
    <script type="text/javascript">

        $("document").ready(() => {
            $(".alert").removeClass("d-none").hide().fadeIn(1500)
        })
    </script>
}

