﻿@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza Manager - TestAppCore</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"><link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/r-2.2.6/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <style type="text/css">
        main .container-div {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #343a40;
        }
    </style>
</head>
<body class="pt-5">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#"><img src="~/svgs/pizza.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">Pizza Butt</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chi siamo</a>
                    </li>
                </ul>
                @if (ViewData["logged"] is null || ViewData["logged"] is false)
                {
                    <a class="nav-link text-light d-inline p-0" href="@Url.Action("login", "Login")">Login</a> }
                else
                {
                    <a class="nav-link text-light d-inline p-0" href="@Url.Action("pizzaManager", "Login")">Ciao Admin</a>}
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="pt-5 mx-auto mt-5 container">
            <!--<table id="tabellaPizze" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Ingredienti</th>
                                </tr>
                            </thead>
                            <tbody>
                                foreach (Pizza pizza in ViewBag.manager.getPizze())
                                {
                                    <tr>
                                        <td>pizza.Name</td>
                                        <td>pizza.Description</td>
                                    </tr>
            }
                            </tbody>
                        </table>-->
            <form asp-action="SimpleAjax" method="post" role="form" novalidate>
                <div class="row mt-3" id="datatable-editable">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="simple-editable" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th data-name="Name">Nome</th>
                                        <th data-name="Description" data-priority="1">Descrizione</th>
                                        <th data-priority="2">Azioni</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2019-2020 Artea.com · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
    </main>
    <form id="simple-modal-form" role="form">
        <div id="simple-modal" class="modal fade" role="dialog" aria-labelledby="simple" aria-hidden="true" style="display:none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span id="rh-action"></span> simple</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" name="Name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Descrizione</label>
                                    <input type="text" name="Description" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-sm waves-effect" data-dismiss="modal">Chiudi</button>
                        <button type="button" class="btn btn-primary btn-sm waves-effect waves-light btn-dt-confirm">Salva</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="dialog-form" role="form">
        <div id="dialog" class="modal fade" role="dialog" aria-labelledby="simple" aria-hidden="true" style="display:none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span id="rh-action"></span> simple</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" name="Name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Descrizione</label>
                                    <input type="text" name="Description" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-sm waves-effect" data-dismiss="modal">Chiudi</button>
                        <button type="button" class="btn btn-primary btn-sm waves-effect waves-light btn-dt-confirm">Salva</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="dialog-form" role="form" action="SimpleAjax" method="post">
        <div class="modal" tabindex="-1" id="dialog-delete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Elimina Pizza</h5>
                </div>
                <div class="modal-body">
                    <p>Sei sicuro di voler eliminare questa pizza?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dialogCancel">No</button>
                    <button type="button" class="btn btn-primary" id="dialogConfirm">Si</button>
                </div>
            </div>
        </div>
    </form>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script><script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>*@
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/r-2.2.6/datatables.min.js"></script>
        <script type="text/javascript" src="~/js/mypopup.js"></script>
        <script type="text/javascript" src="~/js/jquery.magnific-popup.js"></script>

        <script src="~/js/datatables.editable.artea.init.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $("document").ready(() => {
            //$('#tabellaPizze').DataTable();
            $('select').removeClass("custom-select");
            $('#simple-editable').EditableTable({
                paging: true,
                ordering: false,
                dom: 'Btp',
                ajax: '@Url.Action("SimpleTable")',
                rowId: 'Id',
                buttons: ["add", $.fn.EditableTable.CopyButton],
                },
                {
                    editType: 'modal', modal: {
                        wrapper: '#simple-modal'
                    },
                    deletemodal: {
                        animtype: "fade"
                    }
                });
        })
        </script>
</body>
</html>
